@import "bootstrap/bootstrap-grid";

@font-face {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 700;
  font-style: italic;
}

html {
  font-family: brandon-grotesque;
}

body {
  margin: 0;
}
